- var absoluteUrl = site.url+url
- var twitter = 'https://twitter.com/intent/tweet?url=' + absoluteUrl + '&text=' + title + '&via=soofaloofa'
- var facebook = 'https://facebook.com/sharer.php?u=' + absoluteUrl
- var googlePlus = 'https://plus.google.com/share?url=' + absoluteUrl
- var linkedIn = 'http://www.linkedin.com/shareArticle?mini=true&url=' + absoluteUrl
- var email = 'mailto:?subject=Check out this link&body=' + absoluteUrl


| Share this post: 

a(href=twitter)
  i.fa.fa-twitter

&nbsp;&nbsp;

a(href=facebook)
  i.fa.fa-facebook

&nbsp;&nbsp;

a(href=googlePlus)
  i.fa.fa-google-plus

&nbsp;&nbsp;

a(href=linkedIn)
  i.fa.fa-linkedin

&nbsp;&nbsp;

a(href=email)
  i.fa.fa-envelope

