- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Vendor
- scripts.add(["//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"])
- styles.add(["/vendor/bootstrap.min.css", "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"])

//- User
- styles.add(["/styles/style.css", "/styles/monokai_sublime.css"])

doctype 5
html(lang="en")
  head
    title= getPreparedTitle()

    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    != getBlock('meta').toHTML()

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="//html5shim.googlecode.com/svn/trunk/html5.js")
      script(async src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js")

    // Analytics
    != partial('analytics.html')
        
    != styles.toHTML()

  body

    // Navbar
    .navbar.navbar-default
      .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href="/") Kevin Sookocheff
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            each doc in getCollection('pages').toJSON()
              - var is_active = (document.url === doc.url) ? 'active' : null;
              li(class=is_active)
                a(href=doc.url)= doc.title

            li
              a(href='/blog') Blog
            li.dropdown
              a(href="#", data-toggle="dropdown").dropdown-toggle 
                | Subscribe 
                b.caret

              ul.dropdown-menu
                li
                  a(href='http://eepurl.com/KJE01') email
                li
                  a(href='http://sookocheff.com/rss.xml') RSS

    // Container
    != content

    .container
      hr
      // Footer
      footer
        p.pull-right
          a.pull-right(href="#") Top
        p= site.copyright

    // Scripts
    != scripts.toHTML()
